/*Customize color scheme easily*/
:root {
    --Background: rgb(161, 206, 188);
    --View-HSandButton-color: rgb(87, 10, 131);
    --Button-Answer-font: white;
    --Correct-Wrong: rgb(200, 200, 200);
    --All-Other-Font: black;

}

* {    
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-size: 20px;
    color: var(--All-Other-Font);
}