body {
    background-color: var(--Background);
}

header {
    height: 50px;
    margin-right: 10px;
}

main {
    text-align: center;
}

main, .Answer-Output {
    margin-left: auto;
    margin-right: auto;
    width: 580px;
}

.View-Highscores {
    float: left;
    border: none;
    outline: none;
    color: var(--View-HSandButton-color);
}

.Timer {
    float: right;
    width: 70px;
}

.View-Highscores, .Timer {
    margin: 10px;
    font-weight: 550;
}

h2 {
    margin: 15px 0 15px 0;
    font-size: 175%;
}

.Answer {
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: var(--View-HSandButton-color);
    color: var(--Button-Answer-font);
    display: block;
}

.Start-Submit {
    margin-top: 15px;
    border-radius: 5px;
    min-width: 100px;
    background-color: var(--View-HSandButton-color); 
    color: var(--Button-Answer-font); 
}

.Answer-Output {
    border-top-style: solid;
    border-color: var(--Correct-Wrong);
}

.Poppin {
    margin-top: 10px;
    font-size: 110%;
    font-weight: lighter;
    font-style: italic;
    color: var(--Correct-Wrong);
}

.Answer:hover {
    opacity: 0.6;
}

/*Input box*/
.Int {
    border-color: var(--All-Other-Font);
}

input:focus, textarea:focus, select:focus {
    outline: none;
}









